.login__request-error {
    width: 100%;
    display: block;
    font-size: 10px;
    font-weight: 400;
    line-height: 12.1px;
    color: #EE3465;
    min-height: 14px;
    margin-top: 38px;
    text-align: center;
    visibility: hidden;
}

@media screen and (max-width: 525px) {
    .login__request-error {
        margin-top: 126px;
    }
}

.login__request-error_active {
    visibility: visible;
}

.login__request-error_type_login {
    margin-top: 128px;
}

@media screen and (max-width: 525px) {
    .login__request-error_type_login {
        margin-top: 216px;
    }
}

.login__button {
    width: 100%;
    min-height: 45px; 
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    border: none;
    border-radius: 3px;
    color: #FFFFFF;
    background-color: #4285F4;
    cursor: pointer;
    padding: 0;
    margin-top: 18px;
    transition: background-color .5s ease;
}

@media (hover: hover) and (pointer: fine) {
    .login__button:hover {
        opacity: .7;
        cursor: pointer;
    }
}

@media screen and (max-width: 525px) {
    .login__button {
        font-size: 12px;
        line-height: 14.52px;
    }
}

.login__button_disabled {
    background-color: #F8F8F8;
    color: #C2C2C2;
    pointer-events: none;
}

.profile__request-error {
    display: block;
    font-size: 11px;
    font-weight: 400;
    line-height: 13.31px;
    color: #FF004C;
    min-height: 14px;
    text-align: center;
    margin: 168px 0 0 0;
    visibility: hidden;
}

.profile__input-error_active {
    visibility: visible;
}

.profile__button {
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.73px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 0;
    margin-top: 22px;
    transition: background-color .5s ease;
}

@media (hover: hover) and (pointer: fine) {
    .profile__button:hover {
        opacity: .7;
        cursor: pointer;
    }
}

@media screen and (max-width: 768px) {
    .profile__button {
        margin-top: 10px;
    }
}

@media screen and (max-width: 525px) {
    .profile__button {
        font-size: 12px;
        line-height: 14.52px;
        margin-top: 180px;
    }
}
