.nav-promo {
    background-color: #272727;
    padding: 24px 0;
}

.nav-promo__container {
    width: calc(276/1280*100%);
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

@media screen and (max-width:1023px) {
    .nav-promo__container {
        width: calc(276/768*100%);
    }
}

@media screen and (max-width:767px) {
    .nav-promo__container {
        width: calc(212/320*100%);
    }
}

.nav-promo__link {
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    color: #FFFFFF;
    padding-top: 2px;
    transition: opacity .5s ease;
}

@media (hover: hover) and (pointer: fine) {
    .nav-promo__link:hover {
        opacity: .7;
        cursor: pointer;
    }
}

@media screen and (max-width:767px) {
    .nav-promo__link {
        font-size: 11px;
    }
}
